.featurette-heading{
    font-size: 2em;
    padding-top: 8%;
}
.logoMain{
    margin: -10px;
}
.cart{
   height: 25px;
   width: 25px;
   margin-right: -10px;
   margin-top: -10px;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.banner-area {
    background: #f9f9ff;
}
.banner-area .fullscreen {
    height: 750px !important;
}
.banner-left h6 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.navbar-form{
    margin-top: 15px;
}
.imgExcursion{
    float: left;
    height: 200px;
    width: 200px;
}
.form-border{
    background: #d9edf7;
    margin-top: 50px;
    margin-bottom: 50px;



}

.cartExcursion{
    width: 750px;
    margin-bottom: 21px;
    padding: 10px;
    border: solid 1px #000066;
    min-height: 153px;
    background-color: #f3f3f3;
    height: 280px;

    margin-left: 140px;
}
.cartExcursionText{
    width: 450px;
    float: right;
    margin-left: 50px;
    margin-top: 50px;
}

.cartTitleExcursion{
    margin-right: 300px;
}
